/*---------------------
    custom CSS for Voting System 
---------------------------------*/


/*--------------
    Utilities
---------------*/
.no-padding {
    padding: 0 !important;
}

.no-right-pad {
    padding-right: 0 !important;
}

.no-left-pad {
    padding-left: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-right-mar {
    margin-right: 0 !important;
}

.no-left-mar {
    margin-left: 0 !important;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}


.m-5 {
    margin: 5px !important;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-25 {
    margin: 25px !important;
}

.m-30 {
    margin: 30px !important;
}

.m-35 {
    margin: 35px !important;
}

.mx-5 {
    margin: 0 5px !important;
}

.mx-10 {
    margin: 0 10px !important;
}

.mx-15 {
    margin: 0 15px !important;
}

.mx-20 {
    margin: 0 20px !important;
}

.mx-25 {
    margin: 0 25px !important;
}

.mx-30 {
    margin: 0 30px !important;
}

.mx-35 {
    margin: 0 35px !important;
}

.my-5 {
    margin: 5px 0px !important;
}

.my-10 {
    margin: 10px 0px !important;
}

.my-15 {
    margin: 15px 0px !important;
}

.my-20 {
    margin: 20px 0px !important;
}

.my-25 {
    margin: 25px 0px !important;
}

.my-30 {
    margin: 30px 0px !important;
}

.my-35 {
    margin: 35px 0px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-25 {
    margin-left: 25px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-35 {
    margin-left: 35px !important;
}


.mr-0 {
    margin-right: 0px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-25 {
    margin-right: 25px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-35 {
    margin-right: 35px !important;
}


.mb-0 {
    margin-bottom: 0px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

/*-------------------
        Padding
--------------------*/
.p-5 {
    padding: 5px !important;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-25 {
    padding: 25px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-35 {
    padding: 35px !important;
}

.px-5 {
    padding: 0 5px !important;
}

.px-10 {
    padding: 0 10px !important;
}

.px-15 {
    padding: 0 15px !important;
}

.px-20 {
    padding: 0 20px !important;
}

.px-25 {
    padding: 0 25px !important;
}

.px-30 {
    padding: 0 30px !important;
}

.px-35 {
    padding: 0 35px !important;
}

.py-5 {
    padding: 5px 0px !important;
}

.py10 {
    padding: 10px 0px !important;
}

.py-15 {
    padding: 15px 0px !important;
}

.py-20 {
    padding: 20px 0px !important;
}

.py-25 {
    padding: 25px 0px !important;
}

.py-30 {
    padding: 30px 0px !important;
}

.py-35 {
    padding: 35px 0px !important;
}


.pt-5 {
    padding-top: 5px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-25 {
    padding-top: 25px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-35 {
    padding-top: 35px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pl-5 {
    padding-left: 5px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-25 {
    padding-left: 25px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-35 {
    padding-left: 35px !important;
}


.pr-0 {
    padding-right: 0px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-25 {
    padding-right: 25px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-35 {
    padding-right: 35px !important;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-25 {
    padding-bottom: 25px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-35 {
    padding-bottom: 35px !important;
}

.width-100 {
    width: 100% !important;
}

.width-40 {
    width: 45px !important;
}



/ .page-aside_custom {
    position: static;
    margin-top: 0px;
}

/* fonts */

.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-17 {
    font-size: 17px;
}


/*Display*/
.d-inline {
    display: inline;
}

.d-block {
    display: block;
}

.d-iblock {
    display: inline-block;
}

.hidden{
    display: none !important;
}

/*position*/
.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

/*select 2 custom arrow*/
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 12px !important;
    right: 1px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 12px;
    right: 1px;
    width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 5px !important;
}

/*cursor*/

.pointer{
    cursor: pointer;
}

/*borders*/

.border-bottom{
    border-bottom: 1px solid #ccc;
}

.border-none{
    border: none;
}

/*Custom Float Lable*/
.field{
    position: relative;
}

.field label{
    position: absolute;
    top: 5px;
}

.fieldTransform{
    transition: all 0.45s;
    touch-action: manipulation;
    transform-origin: left bottom;
    transform: translate(0, -1.35rem);
    background: rgba(255,255,255,0.5);
    padding: 1px 5px;
}

.fieldTransformBack{
    transition: all 0.45s;
    touch-action: manipulation;
    transform-origin: left bottom;
    transform: translate(0, 0);
    background: transparent;
    padding: 0;
}

/*heading background custom*/
.login-block h5 {
    background: none repeat scroll 0 0 #595958;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
    padding: 15px 20px 15px 60px;
    position: relative;
}

.timeline-content:before {
    content: none !important;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 37.5px;
    left: -5px;
}